*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: "微软雅黑";
}
body{
	background-color: #991022;
}
.cattopmax{
	background-color: rgb(241,243,247);
}
.cattop{
	width:1100px;
	height: 40px;
	background-color: rgb(241,243,247);
	margin:  0 auto;
}
.cattop a{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.cattop a:hover{
	
	color: red;
	
}
.cattopmax2{
	background-color: white;
}
.cattopmax3{
	background-color: white;
}
.cattop span{
	margin-left: 15px;
	line-height: 40px;
	font-size: 12px;
	display: block;
	float: left;
}
.cattop .topright{
	float: right;
}
.cattop .a{
	display: block;
	width: 1px;
	height: 15px;
	background-color: rgb(224,225,226);
	margin-top: 12px;
}
.cattop2{
	width: 1100px;
	margin: 0 auto;
	height: 80px;
	padding-top: 20px;
}
h1{
	float: left;
}
#cattopinp{
	padding-left: 15px;
	width: 325px;
	height: 38px;
	border: 1px solid rgb(255,191,38);
	float: left;
	margin-left: 40px;
	outline: none;
	margin-top: 10px;
}

.cattopbtu{
	margin-top: 10px;
	width: 40px;
	height: 40px;
	background: url(../img/捕获_03.png) ;
	border: none;
	outline: none;
}
.divleft{
	float: right;
	width: 125px;
	height: 30px;
	background-color: rgb(255,191,38);
	margin-top: 10px;
	position: relative;
}
.divleft img{
	margin-left: 10px;
	margin-top: 7px;
	float: left;	
}
.divright img{
	margin-left: 10px;
	margin-top: 7px;
	float: left;	
}
.divright span{
	display: block;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}
.divleft span{
	display: block;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}
.divright{
	float: right;
	width: 125px;
	height: 30px;
	background-color: rgb(241,243,247);
	margin-top: 10px;
	position: relative;
}
.sanjiao{
	float: left;
	border-top: 5px solid black;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: 20px;
	margin-top: 12px;
}

.divleft:hover #san1{
	transform: rotate(540deg);
	transition: all 0.5s;
}
.divright:hover #san2{
	transform: rotate(540deg);
	transition: all 0.5s;
}
#posright{
	width: 248px;
	height: 130px;
	display: none;
	border: 1px solid gainsboro;
	background-color: white;
	margin-top: 30px;
	position: relative;
	z-index: 999;
}
#posleft{
	width: 248px;
	height: 180px;
	margin-top: 30px;
	margin-left: -125px;	
	border: 1px solid gainsboro;
	background-color: white;
	display: none;
	position: relative;
	z-index: 999;
}
.cattopmax3{
	width: 100%;
	border-bottom: 1px solid rgb(255,191,38);
	height: 40px;
	
}
.cattop3{
	height: 40px;
	margin: 0 auto;
	width: 1100px;
}
.nav{
	width: 220px;
	height: 40px;
	float: left;
	background-color: rgb(255,191,38);
}
.nav span{
	margin-left: 20px;
	color: rgb(195,95,0);
	font-size: 18px;
	line-height: 40px;
}
.nav .navli{
	width: 220px;
	height: 0px;
	position: absolute;
	z-index: 10;
	
}
.nav .navli #navul li{
	list-style: none;
	width: 220px;	
	float: left;
	display: none;
	border-bottom: 1px solid darkgray;
	
	
}
.nav .navli li{
	position: relative;
}

.nav .navli a{
	
	text-decoration: none;
	font-size: 14px;
	padding-left: 60px;
	color: white;
	display: block;
	background-color: rgb(80,80,80);
	opacity: 0.7;

	line-height: 49px;
	/*border-bottom: 1px solid gray;*/
}
.nav .navli li:hover a{
	background: rgb(70,70,70) url(../img/myimg3.png) no-repeat right;
	color: rgb(255,103,0);

}
.nav .navli a:hover{
	opacity: 0.9;
	color: rgb(255,103,0);
	padding-left: 65px;
	transition: 0.5s;
	transition-property: opacity,padding-left;
	/*transition:  0.5s;*/
}
.nav .navimg{
	margin-left: 20px;
	float: left;
	margin-top: 10px;
}
.nav2{
	width: 160px;
	height: 40px;
	float: left;
	color: rgb(255,103,0);
	text-align: center;
	line-height: 40px;
	
}
 .nav2 span{
	font-size: 16px;
}
.nav3{
	width: 160px;
	height: 40px;
	float: left;
	color: black;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid rgb(36,134,41);
	
}
.nav3:hover{
	color: rgb(255,191,38);
}
 .nav3 span{
	font-size: 16px;
}
.nav4{
	float: right;
	width: 160px;
	height: 30px;
	margin-top: 10px;
	position: relative;
	border-bottom: 1px solid rgb(166,78,241);
}
.nav4:hover .erweima{
	display: block;
}
.erweima{
	display: none;
	width: 135px;
	height: 135px;
	position: absolute;
	top: 15px;
	left: 0px;
	z-index: 999;
}
.footeradv{
	margin-top: 20px;
	width: 100%;
	background-color: white;	
}
.footeradv .imgadv{
	display: block;
	width: 1100px;
	margin: 0 auto;
}
.footeradv .imgadv2{
	display: block;
	width: 1100px;
	margin: 0 auto;
	background-color:white ;
}
.huodongbody{
	width: 100%;
}
.huodongbody img{
	display: block;
}
.goods{
	margin: 10px auto;
	width: 1000px;
	
}
.goods img{
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 7px;
	width: 240px;
	height: 282px;
	background-color: #991022;
}
